* {
    box-sizing: border-box;
}
body {
    font-family: Nunito, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5baaff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #57c1c2;
}

.active {
    background-color: #55b5c8;
}


.searchButton {
    padding: 5px;
    margin: 5px;
}

.welcome {
    display: block;
    font-family: "Droid Sans", serif;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    margin: 10px auto;

}

form {
    /*color: #57c1c2;*/
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
}

.settings {
    font-size: 20px;
    margin: 10px auto;
    padding: 10px 20px;
}

.generalSettings {
    text-align: center;
}