* {
    box-sizing: border-box;
}
body {
    font-family: Nunito, serif;
}

table.table {
    width: auto;
    margin:0 auto;
}

.btn-group {
    display: flex;
  }
.btn-group-toggle {
    display: flex;
}

.btn.chair {
    outline: none !important;
    border: none !important;
}

.btn.chair input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}