body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Droid Sans", serif;
    font-weight: 300;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5baaff;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #57c1c2;
}

.active {
    background-color: #55b5c8;
}

.welcome {
    display: block;
    font-family: "Droid Sans", serif;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;

}

.myForm {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #5fb9c2;
    border-radius: 10px;
}

form {
    color: #57c1c2;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #5fb9c2;
    border-radius: 10px;
}